html {
    /* Prevent scroll bar from shifting page to the right */
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF8EE;
    font-size: 22px;
    text-rendering: optimizeLegibility;
    image-rendering: smooth;
}

h1 {
    font-family: 'Jua', sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.container {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.header,
.mainbody,
.footer {
    padding: 0px;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18%;
    object-fit: cover;
    background: linear-gradient(to bottom, rgba(255, 248, 238, 1.0), rgba(255, 248, 238, 0.0)), url('img/dsc02327.jpg');
    background-size: cover;
    background-position: 50% 70%;
    z-index: -1;
}

.mainbody {
    margin-top: 0px;
    min-height: 1400px;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
}

.footer {
    min-height: 100px;
}

.logo {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    max-width: 100%;
    min-width: 50px;
    height: auto;
}

.title {
    width: 200px;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}

.title img {
    max-width: 100%;
    min-width: 100px;
    height: auto;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}

.horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-items {
    display: inline;
    margin-left: 10px;
}

.list-items a {
    text-decoration: none;
    color: inherit;
}

.page-title {
    text-align: center;
    font-size: 40pt;
    padding: 40px;
    padding-top: 80px;
}

.page-title img {
    max-width: 35%;
    min-width: 200px;
    height: auto;
}

.about-container {
    width: 60%;
    height: auto;
    margin-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Libre Franklin';
    font-size: 22px;
}

.about-container img {
    max-width: 100%;
    height: auto;
}

.category-container,
.category-container-green {
    width: 100%;
    margin-top: 3%;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 2.5%;
    font-family: 'Courier New', Courier, monospace;
}

.category-container-green {
    background-color: rgb(224, 238, 195);
}

.category-stay,
.category-eat,
.category-shop {
    text-align: center;
    padding: 20px;
    margin-bottom: 2%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 35px;
    background: #000;
    font-size: 30px;
    color: #FFF;

}

.content {
    display: flex;
    flex-direction: row;
    margin: auto;
    font-family: 'Jua', sans-serif;
}

.content-fake {
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
}

.column {
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 18px;
}
.column img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 10;
}

.overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.name {
    display: flex;
    align-items: center;
}

.name img {
    width: 4%;
    height: 4%;
    min-width: 10px;
    min-height: 10px;
}

.description {
    font-family: Noto Sans;
}

/* Add borders for debugging */

/*
.container,
.column,
.overlay,
.header,
.navigation,
.mainbody,
.footer,
.page-title,
.category-stay,
.category-eat,
.category-shop,
.category-container,
.category-container-green,
.name,
.description {
    outline: 1px solid #000;
}
*/